In [1]:
import pandas as pd

In [2]:
trade_bra = pd.read_csv('data/econ_data/trade_bra.csv', dtype = {'HS ID 4': str}).dropna(subset = ['Exports', 'Imports'])
wages_bra = pd.read_csv('data/econ_data/wages_bra.csv').dropna(subset = ['Total Jobs', 'Total Yearly Wages'])
trade_chi = pd.read_csv('data/econ_data/trade_chi.csv', dtype = {'HS ID 4': str})
prod_chi = pd.read_csv('data/econ_data/wages_output_chi.csv')#.dropna(subset = ['Total Jobs', 'Total Yearly Wages'])

data_bugs = list(trade_chi.loc[trade_chi['HS ID 6'].str[-1] == ','].index)
trade_chi = trade_chi.drop(data_bugs)

/home/miglesia/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
trade_bra.nunique()

Year              4
BRA ID MIR      338
HS ID 4        1153
Exports       53844
Imports       72617
dtype: int64

In [4]:
wages_bra.nunique()

Year                        4
BRA ID MIR                558
CNAE ID C                 671
CBO ID F                  602
Total Jobs               6359
Total Yearly Wages    5037421
dtype: int64

In [5]:
trade_chi.nunique()

Year               4
CHI ID COM       338
HS ID 6         9722
Exports        68400
Imports       349167
dtype: int64

In [6]:
prod_chi.nunique()

Year                       4
CHI ID COM               345
CIIU ID 4                342
output_USD            158702
intermediates_USD     152438
Total Yearly Wages    133909
dtype: int64