In [2]:
import pandas as pd

In [22]:
# Load info
path = 'data/disagg_struct_refs/formatted/'

CIIU = pd.read_csv(path+'CIIU_full.csv')
CBO = pd.read_csv(path+'CBO_full.csv').astype(str)
CNAE = pd.read_csv(path+'CNAE_full.csv').astype(str)
HS = pd.read_csv(path+'hs_full.csv').astype(str)

In [9]:
print pd.DataFrame(CIIU.nunique()).to_latex()
print pd.DataFrame(CBO.nunique()).to_latex()
print pd.DataFrame(CNAE.nunique()).to_latex()
print pd.DataFrame(HS.nunique()).to_latex()

\begin{tabular}{lr}
\toprule
{} &    0 \\
\midrule
CIIU ID 4    &  495 \\
CIIU label 4 &  495 \\
CIIU ID 2    &   88 \\
CIIU ID 1    &   21 \\
CIIU ID 0    &    1 \\
\bottomrule
\end{tabular}

\begin{tabular}{lr}
\toprule
{} &     0 \\
\midrule
CBO ID O      &  2626 \\
CBO label O   &  2626 \\
CBO ID F      &   619 \\
CBO ID SG     &   193 \\
CBO ID SGP    &    48 \\
CBO ID GG     &    10 \\
CBO label F   &   619 \\
CBO label SG  &   193 \\
CBO label SGP &    48 \\
CBO label GG  &     9 \\
CBO ID 0      &     1 \\
CBO label 0   &     1 \\
\bottomrule
\end{tabular}

\begin{tabular}{lr}
\toprule
{} &    0 \\
\midrule
CNAE ID S    &   21 \\
CNAE ID D    &   87 \\
CNAE ID G    &  285 \\
CNAE ID C    &  673 \\
CNAE label C &  673 \\
CNAE label G &  285 \\
CNAE label D &   87 \\
CNAE label S &   21 \\
CNAE ID 0    &    1 \\
CNAE label 0 &    1 \\
\bottomrule
\end{tabular}

\begin{tabular}{lr}
\toprule
{} &     0 \\
\midrule
HS ID 1    &    22 \\
HS label 1 &    22 \\
HS ID 2    &    97 \\
HS label 2 &    97 \\
HS ID 4    &  1225 \\
HS label 4 &  1225 \\
HS ID 6    &  5206 \\
pcode6\_f   &  5206 \\
\bottomrule
\end{tabular}

In [ ]:
wages_bra = pd.read_csv('data/econ_data/wages_bra.csv').dropna(subset = ['Total Jobs', 'Total Yearly Wages'])

In [3]:
trade_bra = pd.read_csv('data/econ_data/trade_bra.csv', dtype = {'HS ID 4': str}).dropna(subset = ['Exports', 'Imports'])
# wages_bra = pd.read_csv('data/econ_data/wages_bra.csv').dropna(subset = ['Total Jobs', 'Total Yearly Wages'])
trade_chi = pd.read_csv('data/econ_data/trade_chi.csv', dtype = {'HS ID 4': str})
prod_chi = pd.read_csv('data/econ_data/wages_output_chi.csv')#.dropna(subset = ['Total Jobs', 'Total Yearly Wages'])

data_bugs = list(trade_chi.loc[trade_chi['HS ID 6'].str[-1] == ','].index)
trade_chi = trade_chi.drop(data_bugs)

/home/miglesia/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
print trade_bra.nunique()
print trade_chi.nunique()
# print wages_bra.nunique()
print prod_chi.nunique()

Year              4
BRA ID MIR      338
HS ID 4        1153
Exports       53844
Imports       72617
dtype: int64
Year               4
CHI ID COM       338
HS ID 6         9722
Exports        68400
Imports       349167
dtype: int64
Year                       4
CHI ID COM               345
CIIU ID 4                342
output_USD            158702
intermediates_USD     152438
Total Yearly Wages    133909
dtype: int64

In [15]:
x = trade_chi[trade_chi['HS ID 6'].str.zfill(6).isnull()]

y = trade_chi[trade_chi['HS ID 6'].str.zfill(6).notnull()]

In [17]:
x.nunique()

Year               4
CHI ID COM       335
HS ID 6         5136
Exports        68400
Imports       302754
dtype: int64

In [18]:
y.nunique()

Year              1
CHI ID COM      186
HS ID 6        4586
Exports           1
Imports       53652
dtype: int64

In [27]:
trade_chi.groupby('HS ID 6').first().reset_index().merge(HS).nunique()

HS ID 6       4404
Year             1
CHI ID COM      94
Exports          1
Imports       4392
HS ID 1         21
HS label 1      21
HS ID 2         96
HS label 2      96
HS ID 4       1158
HS label 4    1158
pcode6_f      4404
dtype: int64

In [23]:
trade_bra.head()

     Year BRA ID MIR HS ID 4   Exports   Imports
233  2011    3mt0002    0101   29500.0  138200.0
276  2011    4mg0300    0101   14713.0  303809.0
311  2011    4mg0805    0101  237910.0    5000.0
333  2011    4rj0202    0101  157463.0  889358.0
356  2011    4sp0401    0101    3000.0  418324.0

In [30]:

prod_chi.groupby('CIIU ID 4').first().reset_index().merge(CIIU).nunique()

CIIU ID 4             298
Year                    4
CHI ID COM             82
output_USD            232
intermediates_USD     214
Total Yearly Wages    182
CIIU label 4          298
CIIU ID 2              80
CIIU ID 1              21
CIIU ID 0               1
dtype: int64

In [ ]:
# pd.read_csv('data/econ_data/wages_bra.csv')